body {
    color: darkblue;
    text-align: center;
    font-family: Arial, sans-serif;

    background: linear-gradient(135deg, #800080, #FF8C42);
    height: 100vh;           
    margin: 0;               
}

img {
    width: 300px;
    margin: 10px;
    border: 4px solid #FF8C42;    
    box-shadow: 0 0 0 4px #800080; 
    border-radius: 8px;             
}
